* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

body {
  background: url('https://images4.alphacoders.com/982/thumb-1920-982990.jpg') center center/cover no-repeat;
}

.card-field {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: #242424;
}

.card-image {
  --img-size: 120px;
  width: var(--img-size);
  height: var(--img-size);
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #77797a;
  box-shadow: 0px 0px 10px 2px rgba(0,238,255,1);
  margin-top: calc(var(--img-size) / -2);
  margin-bottom: 20px;
}

.card-image > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-info {
  font-family: "Antipasto Pro";
  text-align: center;
  width: 80%;
}

.name, .status {
  margin-bottom: 5px;
}

.name {
  color: #aea8a1;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

.status {
  color: #02a11f;
  font-weight: 600;
}

.location {
  font-family: "Antipasto Pro";
  font-weight: 700;
  color: #778795;
}

.followers {
  color: #9e9d9b;
  font-family: "Averta Demo PE";
}

.people {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.subscriber {
  --img-size: 40px;
  border-radius:50%;
  overflow: hidden;
  width: var(--img-size);
  height: var(--img-size);
  margin-right: 5px;
}


.subscriber > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.subscriber:last-child::before {
  content: '';
  display: block;
  width: var(--img-size);
  height: var(--img-size);
  color: #242424;
  font-weight: 700;
  background-color: #798990;
}

.subscriber:last-child::after {
  content: '';
  width: var(--img-size);
  height: var(--img-size);
  position: absolute;
  transform: translateY(-100%);
  display: block;
  background: url(../icons/plus.svg) center center/cover no-repeat;
  cursor: pointer;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
}

.media-icon {
  cursor: pointer;
}

.media-icon + .media-icon {
  border-left: #808080 solid 2px;
  margin-left: 5px;
  padding-left: 5px;
}

